<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">

      <li class="<%= path === '/basicsApp' ? 'active' : ''%>">
        <a href="/basicsApp"><span class="glyphicon "></span> Basics Home</a>
      </li>
      <li class="<%= path === '/basicsApp/mens' ? 'active' : ''%>">
        <a href="/basicsApp/mens"><span class="glyphicon "></span> Mens</a>
      </li>
      <li class="<%= path === '/basicsApp/womens' ? 'active' : ''%>">
        <a href="/basicsApp/womens"><span class="glyphicon "></span> Womens</a>
      </li>
      <li class="<%= path === '/basicsApp/admin/addProduct' ? 'active' : ''%>">
        <a href="/basicsApp/admin/addProduct"><span class="glyphicon "></span> Add Product</a>
      </li>
      <li class="<%= path === '/basicsApp/admin/addProduct' ? 'active' : ''%>">
        <a href="/basicsApp/cart"><span class="glyphicon "></span> Cart</a>
      </li>      
 

    </ul>
  </div>
</nav>
