<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <style>
    img{
      width: 90%;
      height: inherit;
      margin-left: auto;
      margin-right: auto;
    }
    ul{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    .list li{
      width: 20%;
      flex-direction: row;
      border: solid 1px #0065BD;
      border-radius: 1%;
      margin: 2%;
    }
    .search{
      width: fit-content;
      margin: auto;
    }
  </style>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <% include ../includes/navBasics.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
  
  


</div>
<div class="container list">
  <ul>
    <%chartItems.forEach(item => { %>
      <li>
       <form action="/basicsApp/cart/quantity" method="POST">
         <h2><%= item.name %></h2>
         <h2>$ <%= item.price %></h2>
         <h2><%= item.name %></h2>
         <input type="number" name="quantity" value="<%= item.quantity %>">
         <input type="hidden" name="productID" value="<%= item.itemID %>" >
         <button type="submit">Change Quantity</button>
         <a href="/basicsApp/cart/remove/<%= item.itemID %>">Remove</a>
       </form>
      </li>
    <% }); %>
  </ul>
  <h2>Total $ <%= total %> </h2>
</div>
</body>
</html>
