<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <style>
    img{
      width: 90%;
      height: inherit;
      margin-left: auto;
      margin-right: auto;
    }
    ul{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    .list li{
      width: 20%;
      flex-direction: row;
      border: solid 1px #0065BD;
      border-radius: 1%;
      margin: 2%;
    }
    .search{
      width: fit-content;
      margin: auto;
    }
  </style>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
  
</div>
<div class="container list">
  <ul>
    <%products.forEach(prod => { %>
      <li>
        <a href="/basicsApp/products/<%= prod.id%>">
          <img src="<%= prod.imageUrl %>" alt="<%= prod.name %>">
          <h3><%= prod.name %></h3>
          <h3>$ <%= prod.price %> </h3>
        </a>
      </li>
    <% }); %>
  </ul>
</div>
</body>
</html>
